@charset "UTF-8";
@font-face {
    font-family: 'sisters';
    src: url('fonts/Astral\ Sisters.ttf');
}
@font-face {
    font-family:'bebas';
    src: url('fonts/BebasNeue-Regular.ttf');
}
:root{
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'sisters';
    --font3:'bebas';
}
*{
    padding:0px;
    margin:0px;
}
body, html{
    background-color:gray;
    font-family: var(--font1);

}
header{
    background-color:black;
    color:white;
    text-align:center;
    font-family: var(--font3);

}
header h1{
    padding-top: 50px;
    font-variant:small-caps;
    font-weight:normal;
    font-size:6vw;
}
header p {
    padding-bottom: 50px;
}
header a, footer a {
    color:white;
    text-decoration: none;
    font-weight:400;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section {
    padding:10vh 0vh;
    line-height:2em ;
    padding-left:30px;
    font-family: var(--font2);
    font-size:4vw;
    
}
section.normal{
    background-color:white;
    color:black;
}
section.imagem{
    background-color:rgb(37, 37, 37);
    color:white;
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.438); 
    background-size: cover;
    background-attachment: fixed;
 
}
section.imagem > p {
    background-color:rgba(0, 0, 0, 0.555);
    color:white;
    display: inline-block;
    padding:10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    

}
section > p {
    padding-bottom:2em;
}
section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-size:cover;
    background-position: right, center;
    
}
section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size:cover;
    background-position: right, center;

}
footer{
    background-color:black;
    color:white;
    text-align:center;
    padding:8px 0px;
}